<!DOCTYPE html>
<html>
  <head>
    <title>List of Articles</title>
  </head>
  <body>
    <h1>List of Articles</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Summary</th>
        <th>Question</th>
        <th>Question(English)</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="/index">back the top</a>
  </body>
</html>